/* ===================================== GLOBAL STYLES =================================== */

body {
  font-family: Barlow, sans-serif;
  background-color: #f5f0e6;
  color: #161107;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

/* ================================================== CONTAINERS ======================================== */

.container {
  max-width: 375px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1168px) {
  .container {
    max-width: 1160px;
  }
}

@media screen and (min-width: 1336px) {
  .container {
    max-width: 1336px;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}

/* =========================================== HEADER ========================================== */

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999999999999999;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (min-width: 1168px) {
  .header-container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

/* ======================================== CONTACTS ============================================ */

.contacts-item:nth-child(1) {
  margin-bottom: 15px;
}

@media screen and (min-width: 1168px) {
  .contacts-item:nth-child(1) {
    margin-bottom: 25px;
  }
}

.contacts-item:nth-child(2) {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content:center;
  align-items: center;
}

.contacts-link {
  width: 100%;
  height: 100%;
  color: #161107;
  font-size: 17px;
  transition: color 250ms linear;
}

@media screen and (min-width: 1168px) {
  .contacts-link {
    font-size: 20px;
  }
}

.contacts-link:hover,
.contacts-link:focus,
.contacts-link:active {
  color: #B18935;
}

.instagram-svg {
  fill: inherit;
  transition: fill 250ms linear;
}

.contacts-link:hover .instagram-svg {
  fill: #B18935;
}

/* =================================================== LOGO ================================================== */

.logo {
  font-family: 'Sevillana', cursive;
  color:rgba(88, 69, 27, 0.6);
  font-size: 60px;
  text-transform: capitalize;
} 

@media screen and (min-width: 1168px) {
  .logo {
    font-size: 80px;
  } 
}
/* ================================================ NAVIGATION =============================================== */

.page-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .page-nav {
    display: block;
  }

  .page-menu {
    display: flex;
    gap: 15px;
    align-items: center;
  }
}

@media screen and (min-width: 1168px) {
  .page-menu {
    gap: 35px;
  }
}

@media screen and (min-width: 768px) {
  .page-menu-link {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #161107;
    font-size: 17px;
    transition: color 250ms linear;
  }
  
  .page-menu-link:hover,
  .page-menu-link:focus,
  .page-menu-link:active {
    color: #B18935;
  }
  }

  @media screen and (min-width: 1168px) {
    .page-menu-link {
      font-size: 20px;
    }
  }

/* ============================================== BURGER BUTTON ============================================ */

.burger-button {
  width: 25px;
  height: 25px;
  padding: 0;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;

}

.burger-button-icon {
  stroke: transparent;
  fill: rgba(22, 17, 7, 0.8);
  transition: fill 250ms linear;
}

.burger-button:hover .burger-button-icon,
.burger-button:focus .burger-button-icon,
.burger-button:active .burger-button-icon {
fill: #B18935;
}

@media screen and (min-width: 768px) {
  .burger-button {
    display: none;
  }
}




